---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// =====================================================
//  ~Margin ~Variables ~margin-lg ~margin-sm ~gutter
// =====================================================

$margin-xl: 40px;
$margin-lg: 30px;
$margin:    20px;
$margin-sm: 10px;
$margin-xs: 8px;

$gutter:  10px;
$columns: 12;



// =====================================================
//  ~Color ~Variables
// =====================================================

$green: #88b840;
$yellow: #fec90b;
$blue: #0098DB;
$orange: #ef8120;
$purple: #9c205f;
$red: #ed542b;
$white: #fff;


// =====================================================
//  ~Font ~Variables
// =====================================================

$font-bold: bold;

$font-size: 18px;
$font-size-sm: 14px;
$font-size-lg: 24px;
$font-size-xl: 32px;

$line-height: 1.6;
$line-height-sm: 1.2;


// =====================================================
//  ~Border ~Variables
// =====================================================

$border-radius-lg: 6px;
$border-radius-sm: 3px;
$border-radius-round: 50%;



// =====================================================
//  ~@media ~Breakpoint ~Variables
// =====================================================

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;




@import "reset";
@import "layout";
@import "forms";
@import "utilities";
