.elm-wrapper {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
}

label {
  font-weight: bold;
}

section {
  padding: 40px;
}

h2,
.h2 {
  font-size: 28px;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

.multi-column {
  display: flex;
  flex-wrap: wrap;
}

.multi-column label {
  flex: 0 1 33%;
}
