input[type="text"] {
  border: 1px solid transparent;
  border-radius: $border-radius-lg;
  font-size: $font-size;
  padding: $margin-sm;
  width: 100%;

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 1px 1px transparent;
    outline: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  font-size: $font-size;
  margin-right: $margin-sm;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: $border-radius-sm;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  font-weight: $font-bold;
  padding: $margin-xs $margin;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $yellow;
    border-color: transparent;
    outline: none;
  }
}
