.elm-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  background-color: $purple;
  transition: background-color 3s ease;

  color: $white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

.section {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: $margin-xl $margin 100px;
  transition: top .6s ease-in;

  @media screen and (min-width: $breakpoint-md) {
    width: 80%;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 70%;
  }
}

.section.active {
  top: 0;
}

.section.active ~ .section {
  top: 100%;
}

h2,
.h2 {
  font-size: $font-size-xl;
  font-weight: $font-bold;
  margin-bottom: $margin;
  line-height: $line-height-sm;
}

.multi-column {
  @media screen and (min-width: $breakpoint-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.multi-column label {
  display: block;

  @media screen and (min-width: $breakpoint-sm) {
    flex: 0 1 50%;
  }
}

