@keyframes bg-color {
    0%  { background-color: #1abc9c; }
    6%  { background-color: #16a085; }
    12% { background-color: #f1c40f; }
    18% { background-color: #f39c12; }
    24% { background-color: #2ecc71; }
    30% { background-color: #27ae60; }
    36% { background-color: #e67e22; }
    42% { background-color: #d35400; }
    48% { background-color: #3498db; }
    54% { background-color: #2980b9; }
    60% { background-color: #e74c3c; }
    66% { background-color: #c0392b; }
    72% { background-color: #9b59b6; }
    78% { background-color: #8e44ad; }
    84% { background-color: #34495e; }
    90% { background-color: #2c3e50; }
    96% { background-color: #95a5a6; }
    100% { background-color: #7f8c8d; }
}

body {
  transition: background-color 3s ease;
  // animation: bg-color 30s infinite alternate;
  background-color: $blue;
}

.elm-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  transition: background-color 3s ease;

  color: $white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

.section {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: $margin-xl $margin 100px;
  transition: top .6s ease-in;

  @media screen and (min-width: $breakpoint-md) {
    width: 80%;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 70%;
  }
}

.section.active {
  top: 0;
}

.section.active ~ .section {
  top: 100%;
}

h2,
.h2 {
  font-size: $font-size-xl;
  font-weight: $font-bold;
  margin-bottom: $margin;
  line-height: $line-height-sm;
}

.multi-column {
  @media screen and (min-width: $breakpoint-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.multi-column label {
  display: block;

  @media screen and (min-width: $breakpoint-sm) {
    flex: 0 1 50%;
  }
}

